@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#title {
    font-family: 'MaplestoryOTFBold', sans-serif;
}

@keyframes throwToTrash {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(0.5);
        opacity: 1;
    }
    100% {
        transform: translate(calc(100vw - 20vw), calc(100vh - 25vh)) rotate(360deg) scale(0);
        opacity: 0;
    }
}

.trash-throw {
    animation: throwToTrash 2s forwards;
}